* {
  font-family: "Montserrat", sans-serif; /*Шрифт (в данном случае применен ко всему документу)*/
  color: #0b141d; /*Цвет шрифта*/
}
body {
  background-color: #e1ebf4; /*Цвет поля вокруг картинки*/
  margin: 0; /*Отступ вокруг картинки или поля (в данном случае их нет)*/
}
.container {
  /*Ограничение для картинки*/
  max-width: 1200px; /*Размер картинки (разрешение px)*/
  margin: 0 auto; /*Положение картинки (положение по центру)*/
}
header {
  background-image: url("../images/fon-top.jpg"); /*Картинка первого блока*/
  background-size: cover; /*Растяжка по ширине элементов*/
  background-position-x: center; /*Центровка Картинки*/
  height: 100vh; /*Размер экрана*/
  width: 100%; /*Ширина картинки*/
  position: relative; /*Родительская область*/
}
header nav {
  position: absolute; /*Дочерняя область*/
  top: 45px; /*Отступ сверху*/
  left: 50%; /*Отступ слева*/
  transform: translateX(-50%); /*Сдвиг по горизонтали по Х*/
  width: 615px; /*Положение меню относительно центра по горизонтали*/
}
header nav ul {
  margin: 0; /*Отступ снаружи блока*/
  padding: 0; /*Отступ снутри блока*/
}
header nav ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 10px; /*Отступы*/
}
header nav ul li a {
  text-decoration: none; /*Убирает подчеркивание текста*/
  font-size: 18px; /*Размер шрифта меню*/
}
header nav ul li a:hover {
  text-decoration: underline; /*При наведении на текст показывает подчеркивание*/
}
header .logo {
  position: absolute;
  top: 40px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
  font-size: 24px; /*Размер шрифта лого*/
  text-shadow: 2px 2px #f8d930; /*Тень, толщина в px и цвет color*/
}
header section.icons {
  position: absolute;
  top: 30px; /*Отступ сверху*/
  right: 40px; /*Отступ справа*/
}
header section.icons ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 7px;
}
header section.icons a {
  text-decoration: none; /*Убирает подчеркивание текста*/
}
header section.icons svg:hover {
  /*При наведении курсора делает иконку активной, меняет цвет*/
  fill: tomato; /*Цвет иконки при наведении*/
}
header section.title {
  /*Заголовок*/
  position: absolute;
  top: 207px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
}
header section.title h1 {
  font-size: 80px; /*Размер шрифта заголовка*/
  text-shadow: 3px 3px #f8d930; /*Толщина обводки (тени) заголовка*/
  font-weight: 500; /*Ширина шрифта заголовка*/
  font-style: normal; /*РНачертание шрифта заголовка*/
  margin-bottom: 0;
}
header section.title p {
  /*Подзаголовок*/
  font-size: 30px; /*Размер шрифта подзаголовка*/
  margin-bottom: 70px; /*внешний отступ внизу элемента*/
}
header section.title a {
  /*Кнопка*/
  background-color: #f8d930; /*Цвет кнопки*/
  padding: 18px 71px; /*Положение надписи относительно области кнопки*/
  border-radius: 3px; /*Закругление углов кнопки*/
  text-decoration: none;
  font-size: 20px; /*Размер шрифта надписи*/
}
header section.title a:hover {
  /*При наведении меняет цвет т.е активность*/
  background-color: #f1eac4; /*цвет активности*/
}
