* {
  font-family: "Montserrat", sans-serif; /*Шрифт (в данном случае применен ко всему документу)*/
  color: #0b141d; /*Цвет шрифта*/
}
body {
  background-color: #e1ebf4; /*Цвет поля вокруг картинки*/
  margin: 0; /*Отступ вокруг картинки или поля (в данном случае их нет)*/
}
.container {
  /*Ограничение для картинки*/
  max-width: 1200px; /*Размер картинки (разрешение px)*/
  margin: 0 auto; /*Положение картинки (положение по центру)*/
}
header {
  background-image: url("../images/fon-top.jpg"); /*Картинка первого блока*/
  background-size: cover; /*Растяжка по ширине элементов*/
  background-position-x: center; /*Задает положение фонового изображения внутри элемента по горизонтали.*/
  height: 100vh; /*Размер экрана*/
  width: 100%; /*Ширина картинки*/
  position: relative; /*Родительская область*/
}
header nav {
  position: absolute; /*способ позиционирования элемента относительно окна браузера*/
  top: 45px; /*Отступ сверху*/
  left: 50%; /*Отступ слева*/
  transform: translateX(-50%); /*Сдвиг по горизонтали по Х*/
  width: 615px; /*Положение меню относительно центра по горизонтали*/
}
header nav ul {
  margin: 0; /*Отступ снаружи блока*/
  padding: 0; /*Отступ снутри блока*/
}
header nav ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 10px; /*Отступы*/
}
header nav ul li a {
  text-decoration: none; /*Убирает подчеркивание текста*/
  font-size: 18px; /*Размер шрифта меню*/
}
header nav ul li a:hover {
  text-decoration: underline; /*При наведении на текст показывает подчеркивание*/
}
header .logo {
  position: absolute;
  top: 40px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
  font-size: 24px; /*Размер шрифта лого*/
  text-shadow: 2px 2px #f8d930; /*Тень, толщина в px и цвет color*/
}
header section.icons {
  position: absolute;
  top: 30px; /*Отступ сверху*/
  right: 40px; /*Отступ справа*/
}
header section.icons ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 7px;
}
header section.icons a {
  text-decoration: none; /*Убирает подчеркивание текста*/
}
header section.icons svg:hover {
  /*При наведении курсора делает иконку активной, меняет цвет*/
  fill: tomato; /*Цвет иконки при наведении*/
}
header section.title {
  /*Заголовок*/
  position: absolute; /*способ позиционирования элемента относительно окна браузера*/
  top: 207px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
}
header section.title h1 {
  font-size: 80px; /*Размер шрифта заголовка*/
  text-shadow: 3px 3px #f8d930; /*Толщина обводки (тени) заголовка*/
  font-weight: 500; /*Ширина шрифта заголовка*/
  font-style: normal; /*РНачертание шрифта заголовка*/
  margin-bottom: 0;
}
header section.title p {
  /*Подзаголовок*/
  font-size: 30px; /*Размер шрифта подзаголовка*/
  margin-bottom: 70px; /*внешний отступ внизу элемента*/
}
header section.title a {
  /*Кнопка*/
  background-color: #f8d930; /*Цвет кнопки*/
  padding: 18px 71px; /*Положение надписи относительно области кнопки*/
  border-radius: 3px; /*Закругление углов кнопки*/
  text-decoration: none;
  font-size: 20px; /*Размер шрифта надписи*/
}
header section.title a:hover {
  /*При наведении меняет цвет т.е активность*/
  background-color: #f1eac4; /*цвет активности*/
}

/*блок обо мне*/
section.about {
  background-color: white; /*цвет заднего фона 2 блока*/
  height: 750px; /*высота блока*/
}
/*левая часть блока*/
section.about div.left {
  float: left; /*левая часть 2 блока (float  команда устарела в данный момент используют другие особенно для адаптивных сайтов)*/
  width: 750px; /*ширина левого блока*/
  height: 750px;
  position: relative; /*способ позиционирования элемента внутри*/
}

section.about div.left div.men {
  width: 457px;
  height: 740px;
  background-image: url("../images/men.png");
  background-position-x: -210px; /*Задает положение фонового изображения внутри элемента по горизонтали.*/
  position: absolute;
  bottom: 0px;
}

section.about div.left div.number-30 {
  position: absolute;
  width: 160px;
  height: 70px;
  top: 220px;
  left: 370px;
}

section.about div.left div.number-30 div.text-top {
  position: absolute;
  top: 0px;
  font-size: 14px;
}

section.about div.left div.number-30 div.num {
  font-weight: 900;
  font-size: 80px;
  -webkit-text-stroke: 1px #0b141d; /*определяет ширину контура текста, работает только в браузере  google*/
  color: #fff;
  position: absolute;
  top: 0px;
  left: 35px;
  line-height: 60px;
}

section.about div.left div.number-30 div.text-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
}

/*правая часть блока*/
section.about div.right {
  width: 450px; /*ширина правого блока*/
  float: left;
  position: relative; /*способ позиционирования элемента внутри*/
  height: 750px; /*высота правого блока*/
}
section.about div.right h2 {
  font-size: 16px; /*размер шрифта*/
  text-transform: uppercase; /*Управляет преобразованием текста элемента в заглавные или прописные символы.*/
  font-style: normal; /*начертание шрифта*/
  font-weight: 400; /*определяет толщину текста исходя из размера например 400-normal,700-bold*/
  margin: 90px 0 100px 0;
}
section.about div.right p {
  margin-bottom: 60px;
}
section.about div.right p.description {
  font-size: 30px; /*размер шрифта*/
  line-height: 140%; /*интерлиньяж - межстрочный интервал*/
}
section.about div.right div.list {
  position: absolute;
  width: 250px; /*ширина изображения*/
  height: 220px; /*высота изображения*/
  background-image: url("../images/list.jpg");
  background-position-y: 0px; /*Задает положение фонового изображения внутри элемента по вертикали.*/
  right: 0px; /*определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента.*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
  transform: matrix(-1, 0, 0, 1, 0, 0); /*трансформация объекта*/
}
