* {
  font-family: "Montserrat", sans-serif; /*Шрифт (в данном случае применен ко всему документу)*/
  color: #0b141d; /*Цвет шрифта*/
}
body {
  background-color: #e1ebf4; /*Цвет поля вокруг картинки*/
  margin: 0; /*Отступ вокруг картинки или поля (в данном случае их нет)*/
}
.container {
  /*Ограничение для картинки*/
  max-width: 1200px; /*Размер картинки (разрешение px)*/
  margin: 0 auto; /*Положение картинки (положение по центру)*/
}
header {
  background-image: url("../images/fon-top.jpg"); /*Картинка первого блока*/
  background-size: cover; /*Растяжка по ширине элементов*/
  background-position-x: center; /*Задает положение фонового изображения внутри элемента по горизонтали.*/
  height: 100vh; /*Размер экрана*/
  width: 100%; /*Ширина картинки*/
  position: relative; /*Относительное позиционирование/родительская область*/
}
header nav {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 45px; /*Отступ сверху*/
  left: 50%; /*Отступ слева*/
  transform: translateX(-50%); /*Сдвиг по горизонтали по Х*/
  width: 615px; /*Положение меню относительно центра по горизонтали*/
}
header nav ul {
  margin: 0; /*Внешний отступ элемента*/
  padding: 0; /*внутренний отступ между контентом и границей элемента..*/
}
header nav ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 10px; /*внутренний отступ между контентом и границей элемента..*/
}
header nav ul li a {
  text-decoration: none; /*Убирает подчеркивание текста*/
  font-size: 18px; /*Размер шрифта меню*/
}
header nav ul li a:hover {
  /*hover/При наведении курсора делает иконку активной, меняет цвет*/
  text-decoration: underline; /*При наведении на текст показывает подчеркивание*/
}
header .logo {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 40px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
  font-size: 24px; /*Размер шрифта лого*/
  text-shadow: 2px 2px #f8d930; /*Тень, толщина в px и цвет color*/
}
header section.icons {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 30px; /*Отступ сверху*/
  right: 40px; /*Отступ справа*/
}
header section.icons ul li {
  display: inline; /*Превращаем блочный элемент в строчный*/
  padding: 0 7px; /*внутренний отступ между контентом и границей элемента..*/
}
header section.icons a {
  text-decoration: none; /*В данном случае Убирает подчеркивание текста*/
}
header section.icons svg:hover {
  /*hover/При наведении курсора делает иконку активной, меняет цвет*/
  fill: tomato; /*Цвет иконки при наведении*/
}
header section.title {
  /*Заголовок*/
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 207px; /*Отступ сверху*/
  left: 33px; /*Отступ слева*/
}
header section.title h1 {
  font-size: 80px; /*Размер шрифта заголовка*/
  text-shadow: 3px 3px #f8d930; /*Толщина обводки (тени) заголовка*/
  font-weight: 500; /*Ширина шрифта заголовка*/
  font-style: normal; /*начертание шрифта (обычное, курсивное, наклонное)*/
  margin-bottom: 0; /*величина внешнего отступа от нижнего края элемента*/
}
header section.title p {
  /*Подзаголовок*/
  font-size: 30px; /*Размер шрифта подзаголовка*/
  margin-bottom: 70px; /*величина внешнего отступа от нижнего края элемента*/
}
header section.title a {
  /*Кнопка*/
  background-color: #f8d930; /*Цвет кнопки*/
  padding: 18px 71px; /*внутренний отступ между контентом и границей элемента..*/
  border-radius: 3px; /*Закругление углов кнопки*/
  text-decoration: none; /*В данном случае Убирает подчеркивание текста*/
  font-size: 20px; /*Размер шрифта надписи*/
}
header section.title a:hover {
  /*hover/При наведении курсора делает иконку активной, меняет цвет*/
  background-color: #f1eac4; /*цвет активности*/
}

/*блок обо мне*/
section.about {
  background-color: white; /*цвет заднего фона 2 блока*/
  height: 750px; /*высота элемента*/
}
/*левая часть блока*/
section.about div.left {
  float: left; /*левая часть 2 блока (float  команда устарела в данный момент используют другие особенно для адаптивных сайтов)*/
  width: 750px; /*ширина элемента*/
  height: 750px; /*высота элемента*/
  position: relative; /*Относительное позиционирование/родительская область*/
}

section.about div.left div.men {
  width: 457px; /*ширина элемента*/
  height: 740px; /*высота элемента*/
  background-image: url("../images/men.png");
  background-position-x: -210px; /*Задает положение фонового изображения внутри элемента по горизонтали.*/
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
}

section.about div.left div.number-30 {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  width: 160px; /*ширина элемента*/
  height: 70px; /*высота элемента*/
  top: 220px; /*позиционирование элемента сверху*/
  left: 370px; /*позиционирование элемента слева*/
}

section.about div.left div.number-30 div.text-top {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 0px; /*позиционирование элемента сверху*/
  font-size: 14px; /*размер шрифта*/
}

section.about div.left div.number-30 div.num {
  font-weight: 900; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
  font-size: 80px; /*размер шрифта*/
  -webkit-text-stroke: 1px #0b141d; /*определяет ширину контура текста, работает только в браузере  google*/
  color: #fff;
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 0px; /*позиционирование элемента сверху*/
  left: 35px; /*позиционирование элемента слева*/
  line-height: 60px; /*интерлиньяж - межстрочный интервал*/
}

section.about div.left div.number-30 div.text-bottom {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  right: 0px; /*позиционирование элемента справа*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
  font-size: 14px; /*размер шрифта*/
}

section.about div.left div.two-title {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  width: 160px; /*ширина элемента*/
  height: 70px; /*высота элемента*/
  top: 390px; /*позиционирование элемента сверху*/
  left: 410px; /*позиционирование элемента слева*/
}

section.about div.left div.two-title div.top-title {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 0px; /*позиционирование элемента сверху*/
  font-size: 14px; /*размер шрифта*/
}

section.about div.left div.two-title div.number {
  font-weight: 900; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
  font-size: 80px; /*размер шрифта*/
  -webkit-text-stroke: 1px #0b141d; /*определяет ширину контура текста, работает только в браузере  google*/
  color: #fff;
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 5px; /*позиционирование элемента сверху*/
  left: 65px; /*позиционирование элемента слева*/
  line-height: 60px; /*интерлиньяж - межстрочный интервал*/
}

section.about div.left div.two-title div.bottom-title {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  right: -60px; /*позиционирование элемента справа*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
  font-size: 14px; /*размер шрифта*/
}

section.about div.left div.free-title {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  width: 160px; /*ширина элемента*/
  height: 70px; /*высота элемента*/
  top: 570px; /*позиционирование элемента сверху*/
  left: 380px; /*позиционирование элемента слева*/
}

section.about div.left div.free-title div.toptitle {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 0px; /*позиционирование элемента сверху*/
  font-size: 14px; /*размер шрифта*/
}

section.about div.left div.free-title div.number-title {
  font-weight: 900; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
  font-size: 80px; /*размер шрифта*/
  -webkit-text-stroke: 1px #0b141d; /*определяет ширину контура текста, работает только в браузере  google*/
  color: #fff;
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  top: 5px; /*позиционирование элемента сверху*/
  left: 60px; /*позиционирование элемента слева*/
  line-height: 60px; /*интерлиньяж - межстрочный интервал*/
}

section.about div.left div.free-title div.bottomtitle {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  right: -125px; /*позиционирование элемента справа*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
  font-size: 14px; /*размер шрифта*/
}

/*правая часть блока*/
section.about div.right {
  width: 450px; /*ширина правого блока*/
  float: left; /*Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон.*/
  position: relative; /*Относительное позиционирование/родительская область*/
  height: 750px; /*высота правого элемента*/
}
section.about div.right h2 {
  font-size: 16px; /*размер шрифта*/
  text-transform: uppercase; /*Управляет преобразованием текста элемента в заглавные или прописные символы.*/
  font-style: normal; /*начертание шрифта (обычное, курсивное, наклонное)*/
  font-weight: 400; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
  margin: 90px 0 100px 0; /*Внешний отступ элемента*/
}
section.about div.right p {
  margin-bottom: 60px; /*величина внешнего отступа от нижнего края элемента*/
}
section.about div.right p.description {
  font-size: 30px; /*размер шрифта*/
  line-height: 140%; /*интерлиньяж - межстрочный интервал*/
}
section.about div.right div.list {
  position: absolute; /*Абсолютное позиционирование/дочерняя область*/
  width: 250px; /*ширина изображения*/
  height: 220px; /*высота изображения*/
  background-image: url("../images/list.jpg");
  background-position-y: 0px; /*Задает положение фонового изображения внутри элемента по вертикали.*/
  right: 0px; /*определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента.*/
  bottom: 0px; /*Устанавливает положение нижнего края содержимого элемента без учета толщины рамок и отступов.*/
  transform: matrix(-1, 0, 0, 1, 0, 0); /*трансформация объекта*/
}

section.slider {
  width: 100%; /*ширина*/
  height: 700px; /*высота*/
  background-image: url("../images/slide1.jpg");
  background-size: cover; /*Растяжка по ширине элементов*/
  background-position-x: center; /*Задает положение фонового изображения внутри элемента по горизонтали.*/
}
main {
  background-color: #fff;
}
main h2 {
  padding: 90px 0 30px 742px; /*Внешний отступ элемента*/
  font-size: 16px; /*размер шрифта*/
  text-transform: uppercase; /*Управляет преобразованием текста элемента в заглавные или прописные символы.*/
  font-style: normal; /*начертание шрифта (обычное, курсивное, наклонное)*/
  font-weight: 400; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
}

table {
  width: 96%; /*ширина*/
  margin: 0 20px; /*отступы*/
}

th {
  text-align: left; /*Выравнивание текста по левому краю*/
  font-style: normal; /*начертание шрифта (обычное, курсивное, наклонное)*/
  font-weight: normal; /*определяет насыщенность текста исходя из размера например 400-normal,700-bold*/
  font-size: 30px; /*размер шрифта*/
}

td,
th {
  border-bottom: #f8d930 2px solid; /*цвет и толщина линии*/
}
td {
  height: 117px; /*высота строки таблице в данном случае*/
}
.muted {
  color: #b4b4b4;
}

article {
  padding-top: 80px;
  background-color: #fff;
  width: 100%; /*ширина*/
  height: 700px; /*высота*/
}

article .left {
  width: 700px; /*ширина*/
  /*height: 500px;*/ /*высота*/
  float: left; /*Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон.*/
}
.row {
  display: flex; /*Блочный флекс контейнер*/
  margin-bottom: 20px;
}
.foto1,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6 {
  margin-right: 15px;
  height: 200px; /*высота*/
}
.left .foto1 {
  width: 262px; /*ширина*/
  background-image: url("../images/img1.jpg");
  background-position-x: center; /*Задает положение изображения внутри элемента по горизонтали.*/
}
.left .foto2 {
  width: 183px; /*ширина*/
  background-image: url("../images/img2.jpg");
  background-position-x: center; /*Задает положение изображения внутри элемента по горизонтали.*/
}
.left .foto3 {
  width: 219px; /*ширина*/
  background-image: url("../images/img3.jpg");
}

.left .foto4 {
  width: 341px; /*ширина*/
  background-image: url("../images/img4.jpg");
  background-position-x: center; /*Задает положение изображения внутри элемента по горизонтали.*/
}
.left .foto5 {
  width: 183px; /*ширина*/
  background-image: url("../images/img5.jpg");
  background-position-x: 0px; /*Задает положение изображения внутри элемента по горизонтали.*/
}
.left .foto6 {
  width: 140px; /*ширина*/
  background-image: url("../images/img6.jpg");
  background-position-x: -85px; /*Задает положение изображения внутри элемента по горизонтали.*/
}
article .right {
  float: right;
  width: 480px; /*ширина*/
}
article .right ul {
  list-style-type: none;
}

article .right p {
  margin-top: 40px;
  margin: left 40px;
}
